In [2]:
import pandas as pd
import sqlalchemy

In [7]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet")

In [10]:
engine = sqlalchemy.create_engine("postgresql://postgres:postgres@db:5432/ny_taxi")

In [11]:
engine.connect()

In [6]:
df.to_sql('yellow_trips',con=engine, if_exists='append', chunksize=10**4)

NameError: name 'engine' is not defined

In [21]:
batch_size = 10**5

In [22]:
chunks = df.shape[0]//10**5+1

In [27]:
i=0

In [28]:
while i < chunks:
    to_db = df.iloc[i*batch_size:(i+1)*batch_size,:]
    start = i*batch_size
    finish = (i+1)*batch_size
    print(start,finish)
    i = i+1

0 100000
100000 200000
200000 300000
300000 400000
400000 500000
500000 600000
600000 700000
700000 800000
800000 900000
900000 1000000
1000000 1100000
1100000 1200000
1200000 1300000
1300000 1400000